<footer>
  <div class="social-links">
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
  </div>
  <p>&copy; 2025. Derechos reservados mrc-dza</p>
</footer>

<nav class="bottom-nav">
  <a href="index.html" class="nav-link" id="nav-inicio">
    <i class="fa-solid fa-house"></i>
    <span>Inicio</span>
  </a>
  <a href="juegos.html" class="nav-link" id="nav-juegos">
    <i class="fa-solid fa-gamepad"></i>
    <span>Juegos</span>
  </a>
  <a href="apps.html" class="nav-link" id="nav-apps">
    <i class="fa-solid fa-shapes"></i>
    <span>Apps</span>
  </a>
  <a href="popular.html" class="nav-link" id="nav-popular">
    <i class="fa-solid fa-fire"></i>
    <span>Popular</span>
  </a>
  <a href="contacto.html" class="nav-link" id="nav-contacto">
    <i class="fa-solid fa-envelope"></i>
    <span>Contacto</span>
  </a>
</nav>
